[Unit]
Description=Backup dev stacks (postgres/redis/grafana/portainer)
After=docker.service

[Service]
Type=oneshot
User=devssh
Group=devssh
Environment=HOME=/home/devssh
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/devssh/stacks/scripts/backup.sh
